---
import { CloudflareStream } from '../components/CloudflareStream';
import { CommentInput } from '../components/CommentInput';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-[1100px] p-10 m-auto">
		<CloudflareStream client:only="react"/>
	<div>
		<CommentInput client:only="react"/>
	</div>
	</main>
</Layout>

<style>
</style>